.ratings {
  li {
    background: var(--clr-neutral-200);
    color: var(--clr-primary-700);
    font-weight: 700;
    padding: .75rem 2rem;
    border-radius: var(--br);
    max-width: 25rem;
    margin-left: auto;
    margin-right: auto;

    &::before {
    content: "";
    width: 100px;
    height: 1.1rem;
    margin: 0 auto;
    display: block;
    margin-bottom: .5rem;
    background-image: url(/images/icon-star.svg);
    background-repeat: space;
    border: 1px solid transparent;
    }
    @media (min-width: 50em) {
      display: flex;
      align-content: center;
      padding: 1em 3em;
      
      &::before {
        margin: 0 1.5rem 0 0;
      }
      &:first-of-type {
        transform: translateX(-3rem);
      }
      &:last-of-type {
        transform: translateX(3rem)
      }
    }
  }
}

